@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: antialiased;
        font-family: 'Montserrat', sans-serif;
        box-sizing: border-box;
    }

    [cloak] {
        display: none;
    }

    .font-primary {
        font-family: 'Comfortaa', sans-serif;
    }
    .font-secondary {
        font-family: 'Montserrat', sans-serif;
    }

    // Global variables
    .rounded-global {
        @apply rounded;
    }
    .input-text-size-global {
        @apply text-sm;
    }

    // NProgress
    #nprogress {
        .bar {
            @apply bg-primary-500;
        }
        .spinner-icon {
            @apply border-primary-500;
        }
    }

    // Universal Loader
    .loader {
        @apply inline-block aspect-square border-2 border-b-transparent border-r-transparent border-t-primary-500 border-l-primary-500 rounded-full animate-spin;
        animation-duration: 0.6s;
    }

    // Scroll bar
    .custom-scroll {
        &::-webkit-scrollbar-track {
            @apply bg-transparent;
        }
        &::-webkit-scrollbar {
            @apply transition-all duration-300 w-2 h-4 bg-transparent;
        }
        &::-webkit-scrollbar-thumb {
            @apply bg-dark-400 dark:bg-dark-500 hover:bg-dark-300 rounded-lg m-1;
        }
        &.overlapping {
            overflow: overlay;
            &::-webkit-scrollbar-thumb {
                @apply hidden;
            }
            &:hover::-webkit-scrollbar-thumb {
                display: inherit;
            }
        }
    }

    // Buttons
    .btn {
        @apply px-5 py-1 inline-flex flex-row gap-2 items-center input-text-size-global whitespace-nowrap rounded-global font-primary;
        @apply border-2 border-transparent text-white;
        @apply disabled:pointer-events-none disabled:opacity-60;
    }
    .btn-primary {
        @apply btn;
        @apply bg-primary-700 hover:bg-primary-800 active:bg-primary-900;
        @apply dark:bg-primary-600 dark:hover:bg-primary-700 dark:active:bg-primary-800;
    }
    .btn-accent {
        @apply btn;
        @apply bg-accent-600 hover:bg-accent-700 active:bg-accent-800;
    }
    .btn-white {
        @apply btn;
        @apply bg-white hover:bg-dark-100 active:bg-dark-200 border border-dark-400 text-dark-700;
        @apply dark:bg-dark-600 dark:hover:bg-dark-700 dark:active:bg-dark-900 dark:border-0 dark:text-dark-200;
    }
    .btn-transparent {
        @apply btn;
        @apply text-dark-700 hover:text-dark-200 border-dark-700 bg-transparent hover:bg-dark-700 active:bg-dark-900;
        @apply dark:text-dark-200 dark:hover:text-dark-700 dark:border-dark-200 dark:hover:bg-dark-100 dark:active:bg-dark-300;
    }

    // Icon Buttons
    .btn-icon {
        @apply p-1 text-white rounded-full cursor-pointer border-2 border-transparent;
        @apply hover:bg-gray-200;
        @apply hover:dark:bg-dark-700;
        svg {
            @apply w-5 h-5;
        }
    }
    .btn-action {
        @apply btn-icon;
        @apply border-accent-500;
        @apply bg-white hover:bg-accent-500 text-accent-600 hover:text-dark-200;
        @apply dark:bg-dark-600 hover:dark:bg-accent-500 text-accent-400 hover:text-dark-200;
    }

    // Label
    label {
        @apply input-text-size-global text-primary-700 dark:text-primary-200 inline-flex flex-row items-center gap-2;
    }

    // Input Box
    .input-box {
        @apply rounded-global pl-3 pr-3 py-1 input-text-size-global border text-dark-700 dark:text-white outline-0;
        @apply bg-white border-dark-400 focus:border-accent-600;
        @apply dark:bg-transparent dark:border-dark-600 focus:dark:border-dark-500;

        &[type="search"] {
            @apply pl-10;

            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' width='18px' height='18px' stroke='gray' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
            background-position: 10px center;
            background-repeat: no-repeat;
            &::-webkit-search-cancel-button {
                @apply appearance-none bg-no-repeat bg-[20px] w-[28px] h-[20px] cursor-pointer;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' width='18px' height='18px' stroke='gray' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E");
                background-position: right -2px center;
            }
        }
        &::placeholder{
            @apply text-dark-400;
        }
        &[type=file] {
            @apply cursor-pointer;
            &::file-selector-button {
                @apply cursor-pointer border border-transparent bg-primary-100 rounded-full text-primary-600 font-bold px-2;
            }
        }
    }
    .dark {
        input[type=date],
        input[type=month],
        input[type=time],
        input[type=datetime-local] {
            &::-webkit-calendar-picker-indicator {
                @apply invert;
            }
        }
        input[type="search"] {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' width='18px' height='18px' stroke='gray' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
        }
    }

    // Text-box
    .text-box {
        @extend .input-box;
        min-height: 4rem;
    }

    // Checkbox
    .checkbox {
        @apply appearance-none w-5 h-5 bg-primary-600 rounded-global cursor-pointer;
        &:checked {
            @apply relative inline-flex items-center justify-center;
            &:after {
                content: '✓';
                @apply absolute text-lg font-bold text-white;
            }
        }
    }

    // Radio
    .radio {
        @apply checkbox;
        @apply rounded-full;
    }

    // Select Box
    .select-box {
        @apply appearance-none block rounded-global pl-3 pr-7 py-1 input-text-size-global border text-dark-700 dark:text-white outline-0 truncate cursor-pointer relative;
        @apply bg-white border-dark-400 focus:border-accent-600;
        @apply dark:bg-transparent dark:border-dark-600 focus:dark:border-dark-500;

        @apply bg-no-repeat;
        background-position: right 10px center;
        background-size: 10px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23404040'%3E%3Cpath d='M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z'/%3E%3C/svg%3E");
        option {
            @apply text-dark-700;
        }
    }
    .dark .select-box {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z'/%3E%3C/svg%3E");
    }

    // Pagination
    .pagination {
        @apply flex flex-row gap-2 justify-center items-center;
        .paginate-btn {
            @apply w-7 sm:w-10 h-7 sm:h-10 rounded-full inline-grid place-items-center text-xs sm:text-lg font-bold cursor-pointer transition-colors bg-gray-400 text-primary-500 hover:bg-primary-100;
            &.active {
                @apply bg-primary-500 text-white;
            }
            &.disabled {
                @apply opacity-60 pointer-events-none;
            }
            svg {
                @apply w-3 sm:w-4 h-3 sm:h-4;
            }
        }
    }
}